---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Stars from "../components/StarDivider.astro";
import Particles from "../components/Particles.astro";
import { Image } from "astro:assets";
import Vy from "../assets/mascots/vy.png";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Particles />
<main>
  <h1 style="text-align: center;">Our Projects</h1>
  <Stars />

<article class="post-card">
<div class="post-card-content">
      <h3>Vy Discord Bot</h3>
    <p style="text-align: left;">
        We are currently working on a Discord bot with the face of Vy!
        <br>It'll be able to do anything!
        <br>We plan on adding every feature possible that a Discord bot can have, and make it fully customizable!
		<br>Follow updates by joining our <a href="https://discord.gg/zzRy2hjppe">Discord server</a>  or paying attention to our blog!
      </p>
    </div>

    <div class="post-card-media">
      	<Image src={Vy} alt="Vy" width="250" loading="lazy" />
    </div>
</article>

  <h3 style="text-align: center;">More projects coming soon...</h3>

    <Stars />

</main>
<Footer />
	</body>
</html>